body{
    background-color: #6c23a7;

 
   }




.strong{color :rgb(117, 225, 239);
  font-family: "Constantia", serif;     
}




.div{
  color: rgba(231, 212, 70, 0.747); 
font-family: Arial;
font-size: large;
}